<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="/css/global.css">

    <script src="/js/navigator.js"></script>
</head>
<body>

    <!-- Menu Principal -->
    <div id="turma-main" class="box centered">
        <label id="welcome" class="title">Olá, <%= user.nome %>!</label>
        <label class="tip">Tela de Turmas</label>

        <div class="fields">
            <a href="/logout"><button class="link">Sair</button></a>
            <button class="link" onclick="toggleVisibility('turma-main', 'turma-add')">Cadastrar Turma</button>
        </div>

        <label class="title">Minhas Turmas:</label>
        <div id="turmas-list" class="list">

            <% turmas.forEach(function(turma){ %>
                <div class="turma-card">
                    <%= turma.turma_id %> <br>
                    <label><%= turma.nome%></label> <br>
                    <a href="/atividades/<%=turma.turma_id%>"><button>Visualizar</button></a>
                    <a onclick= "tryDelete('<%=turma.turma_id%>','<%=turma.nome%>')"><button>Excluir</button></a>
                </div>
            <% }) %>
            
            <!-- Exemplo de card de turma: -->
            <!-- Você não possui turmas cadastradas. -->
            <!-- <div class="turma-card">
                1 <br>
                <label>Nome</label> <br>
                <a href="/atividades-turma">
                    <button>Visualizar</button>
                </a>
                <button>Excluir</button>
            </div> -->
        </div>
    </div>

    <!-- Cadastrar Turma -->
    <div id="turma-add" class="box centered hide">
        <a class="link" onclick="toggleVisibility('turma-add','turma-main')">Voltar</a>
        
        <form action="/turmas" method="post">
            <label class="title">Cadastro de Turma</label>
            <div class="fields">
                <label for="nome">Nome:</label>
                <input name="nome" required>

                <input type="hidden" name="professor_id" value="<%= user.id %>">
            </div>

            <input type="submit" value="Cadastrar">
        </form>
    </div>

    <script>
        window.onload = () => {
            const urlParam = new URLSearchParams(window.location.search);
            const success = urlParam.get('success');
            const error = urlParam.get('error');

            if (success == 1) {
                alert('Turma cadastrada com sucesso!');
            } else if (error == 1) {
                alert('Você não pode excluir uma turma com atividades cadastradas!');
            }
        }

        const turmasList = document.getElementById('turmas-list');
        if (!turmasList.children.length) {
            turmasList.innerHTML = 'Você não possui turmas cadastradas.';
        }

        function tryDelete(id, turma_nome) {
            if (confirm(`Você deseja realmente excluir a turma '${turma_nome}'?`)) {
                window.location.href = `/turma_del/${id}`;
            }
        }
    </script>
</body>
</html>